@using DevExpress.Web.Mvc.UI
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @*@Scripts.Render("~/bundles/jquery")*@

    @Scripts.Render("~/bundles/modernizr")
    @*<link rel="stylesheet" href="https://cdn3.devexpress.com/jslib/21.1.5/css/dx.light.css" />
        <script src="https://cdn3.devexpress.com/jslib/21.1.5/js/dx.all.js"></script>*@

    <script src="@Url.Content("~/Scripts/jquery-3.4.1.min.js")" type="text/javascript"></script>
    <!-- The DevExpress ASP.NET MVC Extensions' scripts -->
    @Html.DevExpress().GetScripts(
                            new Script { ExtensionSuite = ExtensionSuite.All }
                        )

    @Html.DevExpress().GetStyleSheets(
                            //new StyleSheet { ExtensionSuite = ExtensionSuite.NavigationAndLayout },
                            //new StyleSheet { ExtensionSuite = ExtensionSuite.Diagram },
                            //new StyleSheet { ExtensionSuite = ExtensionSuite.Gantt },
                            //new StyleSheet { ExtensionSuite = ExtensionSuite.Editors },
                            //new StyleSheet { ExtensionSuite = ExtensionSuite.HtmlEditor },
                            //new StyleSheet { ExtensionSuite = ExtensionSuite.GridView },
                            //new StyleSheet { ExtensionSuite = ExtensionSuite.PivotGrid },
                            //new StyleSheet { ExtensionSuite = ExtensionSuite.Chart },
                            //new StyleSheet { ExtensionSuite = ExtensionSuite.Report },
                            //new StyleSheet { ExtensionSuite = ExtensionSuite.Scheduler },
                            //new StyleSheet { ExtensionSuite = ExtensionSuite.TreeList },
                            //new StyleSheet { ExtensionSuite = ExtensionSuite.Spreadsheet },
                            //new StyleSheet { ExtensionSuite = ExtensionSuite.RichEdit },
                            new StyleSheet { ExtensionSuite = ExtensionSuite.All }
                        )

</head>
<body>
    <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-dark bg-dark">
        <div class="container">
            @Html.ActionLink("Bienvenido", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            <button type="button" class="navbar-toggler" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" title="Toggle navigation" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse d-sm-inline-flex justify-content-between">
                <ul class="navbar-nav flex-grow-1">
                    <li>@Html.ActionLink("Cliente", "GetAll", "Clientes", new { area = "" }, new { @class = "nav-link" })</li>
                    <li>@Html.ActionLink("ClientesDevExpress", "GetAll", "ClientesDevExpress", new { area = "" }, new { @class = "nav-link" })</li>
                </ul>
            </div>
        </div>
    </nav>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - My ASP.NET Application</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
