@model ML.Cliente
@{
    ViewBag.Title = "GetAll";
    Layout = "~/Views/Shared/_Layout.cshtml";
    string activoValue = Model.Activo ? "A" : "I";
}

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js"></script>
<link rel="stylesheet" href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.bundle.min.js"></script>
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/sweetalert2@11/dist/sweetalert2.min.css">
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11/dist/sweetalert2.all.min.js"></script>

<div class="rows">
    <div class="col-12">
        <h2>Control de Clientes</h2>
    </div>
</div>

<hr />
<div class="row">
    <div class="col-1 offset-11">
        <button class="btn btn-success" data-toggle="modal" data-target="#modalCliente" onclick="prepararModal('agregar')">Agregar</button>
    </div>
</div>

<hr />
<div class="row">
    <div class="col-12">
        @if (Model.Clientes != null && Model.Clientes.Count > 0)
        {
            <table class="table">
                <thead>
                    <tr>
                        <th class="text-center">Imagen</th>
                        <th class="text-center">Folio</th>
                        <th class="text-center">Cadena</th>
                        <th class="text-center">Sucursal</th>
                        <th class="text-center">Fecha de Contrato</th>
                        <th class="text-center">Estatus</th>
                        <th class="text-center">Eliminar</th>
                        <th class="text-center">Actualizar</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (ML.Cliente cliente in Model.Clientes)
                    {
                        <tr>
                            <td>
                                <img src="@((cliente.Imagen == null || cliente.Imagen.Length == 0) ? "https://www.ciitaveracruz.ipn.mx/assets/files/ciitaveracruz/img/Contacto/img-contacto-telefonico.png" : "data:image/*;base64," + Convert.ToBase64String(cliente.Imagen))" width="100" />
                            </td>
                            <td class="text-center">@cliente.No_Cliente</td>
                            <td class="text-center">@cliente.Cadena.Nombre</td>
                            <td class="text-center">@cliente.Sucursal</td>
                            <td class="text-center">@cliente.InicioContrato</td>
                            <td class="text-center">
                                @if (cliente.Activo)
                                {
                                    <div class="form-check form-switch">
                                        <input class="form-check-input" type="checkbox" id="flexSwitchCheck_@cliente.IdCliente" checked="@cliente.Activo" onchange="ChangeStatus(this, @cliente.IdCliente)">
                                    </div>
                                }
                                else
                                {
                                    <div class="form-check form-switch">
                                        <input class="form-check-input" type="checkbox" id="flexSwitchCheck_@cliente.IdCliente" onchange="ChangeStatus(this, @cliente.IdCliente)">
                                    </div>
                                }
                            </td>
                            <td>
                                <button class="btn btn-danger mb-1" onclick="Eliminar(@cliente.IdCliente)">
                                    <i class="bi bi-trash">Eliminar</i>
                                </button>
                            </td>
                            <td>
                                <button class="btn btn-outline-dark mb-1" onclick="obtenerCliente(@cliente.IdCliente)">
                                    <i class="bi bi-brush">Actualizar</i>
                                </button>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        }
    </div>
</div>

<div id="modalCliente" class="modal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Cliente</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                @using (Html.BeginForm("GetAll", "Clientes", FormMethod.Post, new { @class = "form-horizontal", @enctype = "multipart/form-data", @id = "formCliente" }))
                {
                    @Html.HiddenFor(model => model.IdCliente)
                    @Html.HiddenFor(model => model.Imagen)

                    <div class="form-group">
                        @Html.LabelFor(model => model.Sucursal)
                        @Html.TextBoxFor(model => model.Sucursal, new { @id = "Sucursal", @class = "form-control", maxlength = "100", required = "required" })
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(model => model.No_Cliente)
                        @Html.TextBoxFor(model => model.No_Cliente, "{0:#.#}",new { @id = "No_Cliente", @class = "form-control", required = "required" })
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(model => model.InicioContrato)
                        @Html.TextBoxFor(model => model.InicioContrato, new { @id = "InicioContrato", @class = "form-control datepicker", required = "required" })
                    </div>
                    <div class="form-group">
                        @Html.Label("Estatus")
                        <div>
                            @Html.RadioButtonFor(model => model.Activo, true, new { id = "Activo", required = "required" })
                            <label for="Activo">Activo</label>
                            @Html.RadioButtonFor(model => model.Activo, false, new { id = "Inactivo", required = "required" })
                            <label for="Inactivo">Inactivo</label>
                        </div>
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(model => model.Cadena.IdCadena)
                        @Html.DropDownListFor(model => model.Cadena.IdCadena, new SelectList(Model.Cadena.Cadenas, "IdCadena", "Nombre"), "Selecciona una opción", new { @id = "IdCadena", @class = "form-control", required = "required" })
                    </div>
                    <div class="text-center">
                        <input class="form-control" type="file" id="imagen" name="imagen" accept="image/*" onchange="visualizarImagen(this);convertToBase64(this);" />
                        @if (Model.Imagen == null)
                        {
                            <img src="https://www.ciitaveracruz.ipn.mx/assets/files/ciitaveracruz/img/Contacto/img-contacto-telefonico.png" width="100" id="img" />
                        }
                        else
                        {
                            <img src="data:image/*;base64,@Model.Imagen" width="100" id="img" />
                        }
                    </div>
                }
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
                <button type="button" class="btn btn-success" onclick="Guardar()">Guardar</button>
            </div>
        </div>
    </div>
</div>





@Scripts.Render("~/bungles/jquery")
<script type="text/javascript">
        jQuery(function ($) {
            $('.datepicker').datepicker({
                dateFormat: 'dd/mm/yy',
            });
        });


    let imagenBase64 = null; 

    function prepararModal(accion) {
        $('#modalTitle').text(accion === 'agregar' ? 'Agregar Cliente' : 'Actualizar Cliente');
        $('#btnGuardar').text(accion === 'agregar' ? 'Agregar' : 'Actualizar');
        if (accion === 'agregar'){
            $('#IdCliente').val('0');
        }
        $('#formCliente')[0].reset();
        $('#img').attr('src', "https://www.ciitaveracruz.ipn.mx/assets/files/ciitaveracruz/img/Contacto/img-contacto-telefonico.png");
        imagenBase64 = null;

    }

        function Guardar() {
            var IdCliente = $('#IdCliente').val();
            var No_Cliente = $('#No_Cliente').val();
            var IdCadena = $('#IdCadena').val();
            var Sucursal = $('#Sucursal').val();
            var InicioContrato = $('#InicioContrato').val();
            var Activo = $('#Activo').is(':checked');

            if (!No_Cliente || !IdCadena || !Sucursal || !InicioContrato || !imagenBase64) {
                Swal.fire({
                    title: "Faltan datos",
                    text: "Por favor completa todos los campos y selecciona una imagen.",
                    icon: "warning"
                });
                return;
            }

            const actionUrl = IdCliente == 0 ? '@Url.Action("Add", "Clientes")' : '@Url.Action("Update", "Clientes")';

            Swal.fire({
                title: "¿Deseas guardar los cambios?",
                showCancelButton: true,
                confirmButtonText: "Guardar",
                cancelButtonText: "Cerrar"
            }).then((result) => {
                if (result.isConfirmed) {
                    $.ajax({
                        url: actionUrl,
                        dataType: 'json',
                        type: 'POST',
                        contentType: 'application/json',
                        data: JSON.stringify({
                            IdCliente: IdCliente,
                            No_Cliente: No_Cliente,
                            Cadena: { IdCadena: IdCadena },
                            Sucursal: Sucursal,
                            InicioContrato: InicioContrato,
                            Activo: Activo,
                            ImagenBase64: imagenBase64,
                        }),
                        success: function (result) {
                            if (result.Success) {
                                Swal.fire("¡Éxito!", "Los datos han sido guardados.", "success").then(() => {
                                    location.reload();
                                });
                            } else {
                                Swal.fire("Error", result.ErrorMessage, "error");
                            }
                        },
                        error: function (xhr, status, error) {
                            Swal.fire("Error", "Ocurrió un error en la solicitud: " + error, "error");
                        }
                    });
                }
            });
        }

        function limpiarCampos() {
            $('#IdCliente').val('');
            $('#No_Cliente').val('');
            $('#IdCadena').val('');
            $('#Sucursal').val('');
            $('#InicioContrato').val('');
            $('#Activo').prop('checked', false);
            $('#Inactivo').prop('checked', false);
            $('#img').attr('src', 'https://www.ciitaveracruz.ipn.mx/assets/files/ciitaveracruz/img/Contacto/img-contacto-telefonico.png');
            imagenBase64 = null;
        }

        function convertToBase64(fileInput) {
            const file = fileInput.files[0];
            if (file) {
                const reader = new FileReader();
                reader.onloadend = function () {
                    imagenBase64 = reader.result.split(',')[1];
                };
                reader.readAsDataURL(file);
            }
        }

        function visualizarImagen(input) {
            if (input.files && input.files[0]) {
                var reader = new FileReader();
                reader.onload = function(e) {
                    $('#img').attr('src', e.target.result);
                }
                reader.readAsDataURL(input.files[0]);
            }
        }
    function obtenerCliente(idCliente) {
        $.ajax({
            url: '@Url.Action("GetClienteById", "Clientes")',
            type: 'GET',
            data: { idCliente: idCliente },
            success: function(result) {
                if (result.Success) {
                    $('#No_Cliente').val(result.Object.No_Cliente);
                    $('#Sucursal').val(result.Object.Sucursal);
                    $('#InicioContrato').val(result.Object.InicioContrato);
                    $('#IdCadena').val(result.Object.Cadena.IdCadena);
                    $('#Activo').prop('checked', result.Object.Activo);
                    $('#Inactivo').prop('checked', !result.Object.Activo);
                    $('#IdCliente').val(result.Object.IdCliente);

                    if (result.Object.ImagenBase64) {
                        $('#img').attr('src', 'data:image/png;base64,' + result.Object.ImagenBase64);
                        imagenBase64 = result.Object.ImagenBase64;
                    } else {
                        $('#img').attr('src', 'https://www.ciitaveracruz.ipn.mx/assets/files/ciitaveracruz/img/Contacto/img-contacto-telefonico.png');
                    }

                    $('#modalCliente').modal('show');
                } else {
                    alert('No se encontraron datos para el cliente.');
                }
            },
            error: function(xhr, status, error) {
                alert('Ocurrió un error al obtener los datos: ' + error);
            }
        });
    }



        function Eliminar(idCliente) {
            Swal.fire({
                title: '¿Deseas eliminar el cliente?',
                icon: 'warning',
                showCancelButton: true,
                confirmButtonText: 'Sí, eliminar',
                cancelButtonText: 'No, cancelar'
            }).then((result) => {
                if (result.isConfirmed) {
                    $.ajax({
                        url: '@Url.Action("DeleteEF", "Clientes")',
                        type: 'POST',
                        dataType: 'json',
                        data: { idCliente: idCliente },
                        success: function(result) {
                            if (result.Success) {
                                Swal.fire('¡Se eliminó correctamente!', '', 'success').then(() => {
                                    location.reload();
                                });
                            } else {
                                Swal.fire('Ocurrió un error', result.ErrorMessage, 'error');
                            }
                        },
                        error: function(xhr, status, error) {
                            Swal.fire('Ocurrió un error en la solicitud', error, 'error');
                        }
                    });
                }
            });
        }


        function ChangeStatus(i, IdCliente) {
        var newStatus = i.checked;
        console.log("Changing status for IdCliente: " + IdCliente + ", Activo: " + newStatus);

        $.ajax({
            url: '@Url.Action("ChangeStatus", "Clientes")',
            datatype: 'json',
            type: 'POST',
            data: { Activo: newStatus, IdCliente: IdCliente },
            success: function (result) {
                if (result.Success) {
                    Swal.fire('Éxito', 'Estado actualizado correctamente.', 'success');
                } else {
                    Swal.fire('Error', result.ErrorMessage, 'error');
                }
            },
            error: function (xhr, status, error) {
                alert('Ocurrió un error: ' + error);
            }
        });
    }

</script>

